ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: green;
    margin: 0px;
    padding: 10px;
    background-color:green;
    color: blue;
}
.link{
    text-decoration: none;
    color: white;
    padding: 5px;
}
.link:hover{
    background-color:black;
    color: aqua;
    border-radius: 15px;
}